h2.secondbreak {
 font-size: 15px;
 font-family: helvetica;
 display: inline;
 color:grey;
 margin-top: -3px;
}

h2.postTitle {
 font-size: 18px;
 font-family: helvetica;
 /*color: #73c8f0; */
 color: #99db8a;
 margin-bottom:4px;
 display:inline;
 
}


h1.nobreak {
  font-size: 40px;
  font-family: helvetica;
  white-space: nowrap;
  display: inline;
  margin-top: -3px;
  margin-left: 20px;
}

hr.linebreak {
 margin-top: -4px;
 border-top: 1px solid lightgray;

}

p {
 font-size: 16px;
 font-family: helvetica;
 word-wrap: break-word;
 text-align: justify;

}

img.glorb {
 width:100px;
 display: inline;

  margin-top: -3px;
  margin-bottom:-2px;
}

img.math{
 display: inline;
 margin-bottom: -8px;
 margin-left: -5px;
}
.head {
  background-color: white;
}
.mainText {
 margin-left: 125px;
 width:50%;
}
.sidebar {
 height=100%;
 width:80px;
 display: block;
 position:fixed;
}
a {
  font-family:helvetica;
  font-size:18px;
  margin-left: 5px;
  margin-top:5px;
  color:#89CFF0;
  text-decoration:none;
  text-align:justify;
}
li {
 list-style-type: none;
 padding: 7px;
}
.bottombar {
 position: absolute;
 bottom: 0;
}

body {
  padding: 0;
  margin:0;

}

div.emaildiv {
 position:fixed;
 bottom:0;
 width:100%;
 background-color: #f0f0f0;

}


ul {
 padding-left: 0;
 padding-top: 0;
}
p.currentLink {
  font-family:helvetica;
  font-size:18px;
  margin-left: 5px;
  margin-top:0px;
  margin-bottom:0px;
  color:black;
  text-decoration:none;
 
}



.lichkingdiv {
 position: absolute;
right:0;
bottom:0;

}
h2.talkTitle {
 font-size: 18px;
 font-family: helvetica;
 color: #73c8f0;
 margin-bottom:2px;
 
}
